table{
    border-collapse: collapse;
    border-spacing: 0;
    padding: .5rem 1rem;
    border-radius: .25rem;
    border-color: rgba(0,0,0,.1);
    border-style: solid;
    border-width: 1px;
}

tr:nth-child(even){
    background-color: #eee;
}

td{
    padding: .5rem 1rem;
}

th{
    padding: .5rem 1rem;
    text-align: left;
    border-width: 0;
    border-bottom: 1px;
    border-color: rgba(0,0,0,.1);
    border-style: solid;
}

.feedback{
    margin-top: 10px;
}
